APP_ENV=development

DB_HOST=db
DB_PORT=3306
DB_NAME=workspace_app
DB_USER=my_user
DB_PASS=my_user_password

MYSQL_ROOT_PASSWORD=root
MYSQL_USER=my_user
MYSQL_PASSWORD=my_user_password
MYSQL_DATABASE=workspace_app
